#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMBER 1
#define SYMBOL 2
#define SETTINGS 3
#define COMBO_TIMEOUT 50

/ {
    combos {
        compatible = "zmk,combos";

        // Meta combos

        meta_settings_combo {
            timeout-ms = <50>;
            key-positions = <39 38>;
            bindings = <&tog 1>;
        };

        // Letter combos

        backspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <34 35>;
            layers = <0>;
        };

        ent {
            bindings = <&kp ENTER>;
            key-positions = <33 34>;
            layers = <0>;
        };
    };

    behaviors {
        mod0_tsp: mod0_tsp {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD0_TSP";
            bindings = <&lt>, <&mo>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <39>;
            tapping-term-ms = <10>;
            flavor = "tap-preferred";
        };

        tap_mo: tap_mo {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_MO";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&mo 2>, <&mo 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W      &kp E     &kp R    &kp T      &kp Y      &kp U    &kp I      &kp O      &kp P
&kp A      &kp S      &kp D     &kp F    &kp G      &kp H      &kp J    &kp K      &kp L      &kp SQT
&kp Z      &kp X      &kp C     &kp V    &kp B      &kp N      &kp M    &kp COMMA  &kp DOT    &kp SLASH
&kp LSHFT  &kp LCTRL  &kp LALT  &kp ESC  &kp SPACE  &kp SPACE  &kp TAB  &kp RALT   &kp RCTRL  &mo 2
            >;
        };

        settings_layer {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4     &kp N5     &kp N6    &kp N7     &kp N8     &kp N9            &kp N0
&kp F1  &kp F2  &kp F3  &kp F4     &kp F5     &kp F6    &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp F7  &kp F8  &kp F9  &kp F10    &kp F11    &kp F12   &none      &kp GRAVE  &kp SEMICOLON     &kp BACKSLASH
&tog 0  &tog 1  &tog 2  &kp ENTER  &kp SPACE  &kp BSPC  &kp TAB    &kp RALT   &kp RCTRL         &mo 2
            >;
        };

        wow {
            bindings = <
&mt N1 LS(KP_NUMBER_1)  &mt N2 LS(KP_NUMBER_2)  &mt N3 LS(KP_NUMBER_3)  &mt N4 LS(KP_NUMBER_4)  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&mt Q LS(Q)             &kp W                   &mt E LS(E)             &mt R LS(R)             &none   &none   &none   &none   &none   &none
&kp A                   &kp S                   &kp D                   &mt F LS(F)             &none   &none   &none   &none   &none   &none
&kp LEFT_SHIFT          &kp LCTRL               &kp LALT                &none                   &none   &none   &none   &none   &none   &none
            >;
        };
    };
};
