#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMBER 1
#define SYMBOL 2
#define SETTINGS 3
#define COMBO_TIMEOUT 50

/ {
    combos {
        compatible = "zmk,combos";

        // Meta combos

        meta_settings_combo {
            timeout-ms = <50>;
            key-positions = <16 17 18>;
            bindings = <&mo 1>;
        };

        // Letter combos

        backspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <34 35>;
        };
    };

    behaviors {
        mod0_tsp: mod0_tsp {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD0_TSP";
            bindings = <&lt>, <&mo>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <39>;
            tapping-term-ms = <10>;
            flavor = "tap-preferred";
        };

        tap_mo: tap_mo {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_MO";
            #binding-cells = <0>;
            tapping-term-ms = <100>;
            bindings = <&mo 1>, <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W      &kp E     &kp R    &kp T      &kp Y      &kp U    &kp I      &kp O      &kp P
&kp A      &kp S      &kp D     &kp F    &kp G      &kp H      &kp J    &kp K      &kp L      &kp SQT
&kp Z      &kp X      &kp C     &kp V    &kp B      &kp N      &kp M    &kp COMMA  &kp DOT    &kp SLASH
&kp LSHFT  &kp LCTRL  &kp LALT  &kp ESC  &kp SPACE  &kp SPACE  &kp TAB  &kp RALT   &kp RCTRL  &tap_mo
            >;
        };

        settings_layer {
            bindings = <
&kp N1  &kp N2     &kp N3    &kp N4  &kp N5     &kp N6    &kp N7   &kp N8    &kp N9            &kp N0
&none   &none      &none     &trans  &trans     &trans    &trans   &trans    &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans  &trans     &trans    &trans  &trans     &trans    &trans   &trans    &kp SEMICOLON     &kp BACKSLASH
&trans  &kp LCTRL  &kp LALT  &trans  &kp SPACE  &kp BSPC  &kp TAB  &kp RALT  &kp RCTRL         &trans
            >;
        };

        layer_2 {
            bindings = <
&kp GRAVE  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
